@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    background: #ecf0f3;
    margin: 0px;
    padding: 0px;
}

.donate-now{
    text-decoration: none;
    background-image: linear-gradient(red, deeppink);
    padding: 15px 30px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.section1{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 550px;
    color: white;
    padding: 13%;
}

h1{
    font-size: 70px;
}
p{
    opacity: 70%;
}
.sp-txt-color{
    color: deeppink;
}

.section2{
    text-align: center;
    margin-bottom: 100px;
}
.box{
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: 10px;
    font-size: 30px;
    font-weight: 900;
    opacity: 60%;
    background-color: rgb(228, 228, 228);
    border-radius: 8px;
}
.selected-box{
    border: 3.5px solid red;
    background-color: #ffe6e1;
    opacity: 100%;
}
.box p{
    margin-top: 40%;
}

.section2 input{
    padding: 10px 150px;
    margin-top: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    opacity: 40%;
    text-align: center;
    background-color: #ecf0f3;
}
.extra-part{
    margin: 0 auto;
    height: 120px;
    width: 75%;
    font-size: 25px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: 'Dancing Script', cursive;
    border-radius: 10px;
    box-shadow: inset 10px 5px 15px #cbced1,
                inset -10px -10px 15px white;
}
.extra-part p{
    font-weight: 700;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.sec3-div1{
    text-align: center;
    margin-bottom: 70px;
}
.donation-boxs{
    display: flex;
}
.donation-box{
    margin: 10px;
    width: 30%;
    height: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    background-position: 8% 8%;
}
#donation-box1{
    background-color: #ffe6e1;
    background-image: url(food.png);
    background-repeat: no-repeat;
    /* background-position: 8% 8%; */
}
#donation-box2{
    background-color: azure;
    background-image: url(shelter.png);
    background-repeat: no-repeat;
}
#donation-box3{
    background-color: rgb(208, 174, 240);
    background-image: url(Frame-1.png);
    background-repeat: no-repeat;
}



.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
    margin-left: 70px;
    margin-top: 70px;
}

.section6{
    text-align: center;
    margin-bottom: 100px;
}
.section6 h1{
    font-family: 'Dancing Script', cursive;
}
.section6-div2{
    background-color: bisque;
    height: 300px;
    width: 70%;
    margin: 0 auto;
}
.section6-div2 input{
    margin-top: 140px;
    padding: 15px 90px;
    background-color: beige;
    border: none;
    font-size: 14px;
}
.section6 button{
    border-radius: 0px 8px 8px 0px;
    padding: 15px 30px;
    border: none;
}

footer{
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
    padding: 5%;
}
footer h2{
    font-family: 'Dancing Script', cursive;
    color: white;
}